
body {
    background: black;
}

.py-5 {
    background: @template-color;
}
img {
    width: 50%;
    height: auto;
    margin: auto;
    
    // @media(min-width:500px) {
    //     width: 90%;
    //     height: auto
    // }
}

.container {
    margin: auto;
    color: lightcyan;
    text-align: center
    
}

/* @media(min-width: 700px) {
    .container {
        width:100%;
    }
    header {
    display: none;
    }
} */