body {
    background: black;
}

.greatImg {
    width: 100%;
}

.carouselImages {
    width: 50%;
    height: auto;
    margin: 0;

}

div.carouselContent {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;

}

img.carouselImg {
    width: 50%;
    .carouselImages;
}

.container {
    margin: auto;
    color: lightcyan;
    text-align: center
}

.logo {
    position: absolute;
    left: 20px;
    width: 70px;
    height: auto;

}

#signUp {
    color: @template-grey;
}