body {
    background: black;
}
.greatImg {
    width: 100%;
}
.carousel img {
    width: 50%;
    height: auto;
    margin: auto;

    // @media(min-width:500px) {
    //     width: 90%;
    //     height: auto
    // }
}

.container {
    margin: auto;
    color: lightcyan;
    text-align: center
}
.logo {
    position: absolute;
    left: 20px;
    width: 70px;
    height: auto;
  
}
#signUp {
    color: @template-grey;
}