

.carousel-item {
  padding: 0;
  margin: 10% 0 10%;
  
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin: auto;
  color: @text;
  text-align: center
  
}
.nameHeadline {
  font-family: fantasy;
  text-align: center;
  font-size: 2em;
 
  text-transform: uppercase;
 
  font-weight: 700;

}
.logo {
  position: absolute;
  left: 20px;
  width: 70px;
  height: auto;
 
}


html {
  background-image: url("img/clark-tibbs-367075-unsplash.jpg");
  background-size: cover;
  background-position: 50% 90%;
  background-repeat: repeat;
  width: 100%;
  height: auto;

 
}
    