html {
    background-color: #272a30;
}

body {
    background: black;
}
.py-5 {
    background: #084A83
}
img {
    width: 90%;
    height: auto;
}

.container {
    margin: auto;
    color: lightcyan;
    text-align: center
}

/* @media(min-width: 700px) {
    .container {
        width:100%;
    }
    header {
    display: none;
    }
} */